@model IEnumerable<MeetUp.Models.MeetActivity>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-primary">Activities</h1>

<div class="container">
    
        <a class="btn btn-primary" asp-action="Create">Create New</a>
   
    @using (Html.BeginForm())
    {
        <p>
            Find by city: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <div class="row">
    @foreach (var item in Model) {
            <div class="col-3 mb-3">
                <div class="card" style="width: 18rem;">
                    @if (item.Picture == null)
                    {
                        <img src='./placeholder.jpg' style="height: 250px; width: 286px;object-fit: cover"/>
                    }
                    else
                    {
                        <img src='@Url.Action("Show", "image", new { activityId = item.Id })' style="height: 250px; width: 286px; object-fit: cover"/>
                    }
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Time)</p>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a>
                    </div>
                </div>
                </div>
        }
    </div>
</div>
