@using Microsoft.AspNet.Identity;
@model MeetUp.ViewModels.UserDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Html.DisplayFor(model => model.User.Email)</h4>
    @if (Model.AverageScore == double.NaN || Model.AverageScore == 0)
    {
        <p>No reviews</p>
    }
    else
    {
        <p>
           Average rating: @Html.DisplayFor(model=> model.AverageScore)
        </p>
    }
    @if (User.Identity.IsAuthenticated && User.Identity.GetUserId() != Model.User.Id)
    {
        <a class="btn btn-primary" asp-controller="Ratings"
                       asp-action="AddRating"
                       asp-route-id="@Model.User.Id">Add review</a>
    }
    <hr />

</div>


<div class="d-flex w-100 ">
    <div class="w-50">
        <h4>Ratings</h4>
        @if (Model.Ratings.Count > 0)
        {
            
            @foreach (var item in Model.Ratings)
            {
                <div class="w-50 mb-1 p-2 border border-2 border-primary">
                    Score:  @Html.DisplayFor(modelItem => item.Score)  <br>
                    @Html.DisplayFor(modelItem => item.Message)
                </div>
               
            }
           
        }
        else
        {
            <p>No reviews</p>
        }
    </div>
    <div class="w-50">
        <h4>Activities</h4>
        @if (Model.UserActivities.Count > 0)
        {
            @foreach (var item in Model.UserActivities)
            {

                <div class="w-50 mb-1 p-2 border border-1 border-primary rounded">
                    <a asp-controller="MeetActivities"
                       asp-action="Details"
                       asp-route-id="@item.Activity.Id">
                        @Html.DisplayFor(modelItem => item.Activity.Name)</a> <br>
                    @Html.DisplayFor(modelItem => item.Activity.Time)
                </div>
            }
        }
        else
        {
            <p>No activities</p>
        }
    </div>

</div>


@if (User.IsInRole("admin"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.User.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}

